# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.MapsterDemo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\GitHub\SourceCode\MapsterDemo\.idea\.idea.MapsterDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
